body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    background-color: #849d8f;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 2.3%;    
}

.button {
    display: inline-block;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    vertical-align: middle;
    border: none;
    background-color: #ec573b;
}

.button:hover,
.button:focus {
    background-color: #f07a63;
}

.button:active {
    background-color: #dc5439;
}

.button-filter {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
}

.button-filter:hover,
.button-filter:focus {
    color: #323232;
    background-color: #fbfcfb;
}

.button-filter:active {
    color: #323232;
    background-color: #eaeaea;
    border-color: transparent;
}

.header-top-wrapper {
    display: flex;
}

.header-logo {
    width: 154px;
    height: 64px;
    margin-right: 10px;
    margin-top: 9px;
}

.site-navigation,
.user-navigation,
.site-navigation .sub-menu {
    list-style: none;
}

.site-navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 699px;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    line-height: 18px;
    font-weight: bold;
}

.site-navigation a,
.user-navigation a {
    display: block;    
    padding: 10px 14px; 
    color: #ffffff;
    border-radius: 20px;
}

.site-navigation a {
    margin-right: 3px;
    padding: 7px 13px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #333333;
    background-color: #f7f6f3; 
}

.site-navigation a:not(.sub-news-link):active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 #696969;
}

.site-navigation-active > a {
    background-color: #d07058;
    border-radius: 20px;
    margin-right: 3px;
}

.sub-menu {
    display: none;
    position: absolute;
    left: -7px;
    margin: 0;
    margin-top: 5px;    
    padding: 0;
    background-color: #f8f7f4;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);    
}

.site-navigation-hover:hover .sub-menu {
    display: block;
}

.site-navigation-hover:focus-within .sub-menu {
    display: block; 
}

.sub-menu li {
    margin-bottom: 7px;
}

.sub-menu a {    
    margin-right: 0;
    padding: 4px 21px;
    color: #323232;
    border-radius: 0;    
}

.sub-menu a:not(.sub-news-link):not(.sub-menu-active):hover,
.sub-menu a:not(.sub-news-link):focus {
    background-color: #fbded7;
}

.sub-menu a:not(.sub-news-link):active {
    background-color: #f6b5a5;
}

.sub-menu .sub-menu-active {
    background-color: #d07058;
    color: #ffffff;     
}

.sub-menu .sub-menu-active:hover {
    background-color: #d07058;
    color: #ffffff; 
}

.sub-menu-news {
    margin-left: 6px;
    margin-right: 9px;
}

.sub-menu-news a {
    padding: 11px 14px;
    font-weight: bold;
    border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}

.search {
    position: relative;
    margin-right: 10px;
    margin-top: 23px;
    margin-left: auto;    
}

.search .search-link {
    display: block;
    width: 32px;
    height: 32px;       
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../img/search.svg");     
    background-repeat: no-repeat;
    background-position: 50% 50%;    
    border-radius: 50%;
}

.search .search-link:hover {
    background-color: #f8f7f4;
    background-image: url("../img/search-hover.svg");
    background-position: 50% 50%;   
}

.search-form {
    display: none;
    position: absolute;
    right: 0;
    width: 311px;
    margin-top: 4px;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 6px;
}

.search:hover .search-form {
    display: block;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search:focus-within .search-form {
    display: block;
}

.search input[type="search"] {
    font-size: 14px;
    line-height: 24px;
    background-color: #ffffff;
}

.form-field {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-weight: bold;
    color: #323232; 
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.form-field:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.form-field:focus {
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.form-field::-webkit-input-placeholder {
    font-weight: normal;
    color: #999999;
}

.form-field:-ms-input-placeholder {
    font-weight: normal;
    color: #999999;
}

.form-field::placeholder {
    font-weight: normal;
    color: #999999;
}

.user-navigation {
    position: relative;
    margin: 0;
    margin-top: 23px;
    margin-right: 10px;
    padding: 0;
}

.user-navigation .entrance-link { 
    padding: 8px 15px;
    padding-left: 44px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: #a1b4a9;
    background-image: url("../img/entrance.svg");
    background-repeat: no-repeat;
    background-position: 16px 6px;  
    border-radius: 16px;
}

.user-navigation .entrance-link:hover,
.user-navigation .entrance-link:focus {
    color: #323232;
    background-color: #f8f7f4;
    background-image: url("../img/entrance-hover.svg");
}

.user-navigation-form { 
    display: none;
    position: absolute;
    width: 241px;
    margin-top: 4px;
    right: -3px;
    padding: 20px 18px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation:hover .user-navigation-form {
    display: block;
}

.user-navigation:focus-within .user-navigation-form {
    display: block;
}

.user-form-group {
    margin: 0;
    margin-bottom: 20px;
}

.user-navigation p {
    margin-top: 0; 
}

.button-entrance {
    display: inline-block; 
    vertical-align: top;
    padding: 11px 25px;  
    border-radius: 21px;
    background-image:linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0 1px 2px 0 #ac1000;
}

.help-links {
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
}

.user-navigation input[type="email"],
.user-navigation input[type="password"] {    
    font-size: 14px;
    line-height: 24px;
    background-color: #ffffff;
}

.user-navigation .help-link { 
    padding: 0;
    font-size: 13px;
    color: #323232;
    text-decoration: underline;
}

.cart {
    position: relative;
    margin-top: 23px;
}

.cart-link {
    display: block;
    width: 117px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #a1b4a9;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 16px 50%;
    border-radius: 16px;
}

.cart-link:hover,
.cart-link:focus {
    color: #333333;
    background-color: #f7f6f3; 
    background-image: url("../img/cart-full.svg");
}

.cart-hover {       
    display: none;
    position: absolute;
    z-index: 50;
    right: 0;
    width: 511px;    
    margin-top: 4px;
    padding: 15px 14px 21px 15px;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    text-align: right;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart:hover .cart-hover,
.cart:focus-within .cart-hover {
    display: block;
}

.cart-hover b {
    display: inline-block;
}

.cart-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.cart-item {
    display: flex;
    align-items: center;
    padding-bottom: 11px;
}

.cart-item:last-child {
    padding-bottom: 17px;
}

.cart-item:last-child {
    border-bottom: 1px  solid #cacac7;
}

.cart-item img {
    padding: 0 14px;
    border-radius: 50%;
}

.cart-item-desc {
    width: 218px;
    margin-bottom: auto;
}

.cart-item-price {
    width: 95px;
    padding: 0 28px;
}

.cart-item .delete {    
    width: 11px;
    height: 11px;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/cart-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0;
}

.cart-item span {
    color: #999999;
}

.cart-hover b {    
    margin-top: 14px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}

.cart-button {
    padding: 10px 15px;
    margin-left: 338px;
    border-radius: 21px;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0 1px 2px 0 #ac1000;
}

.work-time {   
    float: right;
    margin: 0;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #ffffff;
}

.work-time a {
    display: block;
    margin-top: 4px;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
}

.breadcrumbs {    
    padding: 0;
    margin-top: 28px;
    margin-bottom: 10px;    
    list-style: none;
}

.breadcrumbs li {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs li::after {
    content: "»";
}

.breadcrumbs li:last-child::after {
    content: "";
}

.inner-title {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 41px;
}

.filters {    
    margin-bottom: 40px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    width: 879px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filters-form-group {
    margin: 0;
    padding: 0;
    border: 0;
}

.filters-form-group select {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #aabbb1;
}

.filters-form-group select:hover,
.filters-form-group select:focus {
    color: #323232;
    background-color: #ffffff;
}

.filters-form-group .range {
    background-color: #aabbb1;
}

.filters-choice {
    display: flex;
    background-color: #aabbb1;
}

.fattiness-form-group label::before {
    content: "";    
    position: absolute;
    height: 22px;
    width: 22px;
    background-image: url("../img/filter-radio.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.fattiness-field:checked ~ label::before {
    background-image: url("../img/filter-radio-on.svg");
}

.fill-form-group label::before {
    content: "";    
    position: absolute;
    height: 22px;
    width: 22px;
    background-image: url("../img/filter-checkbox.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.fill-field:checked ~ label::before {
    background-image: url("../img/filter-checkbox-on.svg");
}

.gallery-sliders,
.slider-controls {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item img {
    position: absolute;
    z-index: -1; 
    top:0;
    left: 0;
    right: 0;
    width: 1045px;
    height: 881px;
    margin: 0 auto;           
}

.slider-item p {
    width: 680px;
    margin: 0 auto;
    padding-top: 327px;
    text-align: center;    
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
}

.slider-item {
    text-align: center;
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
    display: none;
}

.slider-controls li {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gift {
    min-height: 186px;
    padding: 20px 21px 23px 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.gift-strawberry {
    background-color: #cd3a5e;
    background-image: url("../img/gift-strawberry.jpg");
}

.gift-chocolate {
    background-color: #4b3126; 
    background-image: url("../img/gift-chocolate.jpg");
}

.gift-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.gift-desc {
    width: 519px;
    margin: 0;
    margin-bottom: 45px;
    font-size: 18px;
    font-weight: bold;
}

.gift a {
    margin-left: 374px;
}

.catalog {
    margin-bottom: 40px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;    
    padding: 0;
    list-style: none;
}

.catalog-list img {
    border-radius: 50%;
}

.catalog-item {
    position: relative;    
    z-index: 10;    
    width: 267px;
    margin-bottom: 40px;
    margin-right: 26px;
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.hit .hit-img {
    position: absolute;
    left: 0;
    top: 0;
}

.catalog-item h3 {
    margin: 0;
    margin-top: 13px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;  
    text-align: center;
}

.catalog-price {
    position: absolute;
    top: 215px;
    left: 0;
    margin: 0;
    font-size: 45px;
    line-height: 1;
}

.catalog-price .weight {
    font-size: 30px;
}

.catalog-item::before {
    content: "";
    position: absolute;
    z-index: -10;
    display: block;
    width: 293px;
    height: 405px;  
}

.catalog-item:hover::before,
.catalog-item:focus::before {
    background-color: rgba(248, 247, 244, 0.2);
}

.features {    
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 25px 30px 0 20px;
    color: #323232;
    background-color: #eaddc1;
    background-image: url("../img/waffle.jpg");
}

.features-desc {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;     
}

.features-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    position: relative;
    width: 484px;
    margin-bottom: 25px;
    padding-left: 56px;
}

.feature-item::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: "";
    display: block;
    width: 49px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.technologies::before {
    background-image: url("../img/technologies.svg");
}

.quality::before {
    background-image: url("../img/quality.svg");
}

.purchase::before {
    background-image: url("../img/purchase.svg");
}

.delivery::before {
    background-image: url("../img/delivery.svg");
}

.blog {
    width: 540px;
    min-height: 115px;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 80px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/blog-article.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.blog-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.blog-name {
    width: 285px;
    margin: 0;
}

.blog-name a {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #323232;
    text-decoration: underline;
}

.subscribe {
    width: 550px;
    min-height: 190px;
    padding: 5px;
    color: #5a5a5a;
    background-image: url("../img/subscribe.svg");
    background-repeat: no-repeat;
}

.subscribe form {
    padding: 30px 20px 33px 20px;
}

.subscribe-desc {
    margin: 0;  
    margin-bottom: 38px;
}

.subscribe form {
    background-color: #f8f7f4;
}

.subscribe input[type="email"] {
    font-size: 16px;
    line-height: 24px;
}

.map.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.map-contacts {
    position: absolute;
    top: 62px;
    right: 27px;
    width: 252px;
    padding: 30px 25px 31px;
    color: #323232;
    background-color: #fefefe; 
}

.map-desc {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.map-address {
    margin: 0;
    margin-bottom: 22px;
}

.map-address:last-of-type {
     margin-bottom: 25px;
}

.map-info {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #323232;
}

.map-tel {
    line-height: 22px;
}

.map-time {
    display: block;
    font-size: 14px;
    line-height: 22px;
}

.pagination {
    text-align: right;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style: none;
}

.pagination-item {
    display: inline-block;
}

.pagination-item a {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-active a {
    color: #323232;
    background-color: #ffffff;    
}

.pagination-item-active a:hover {
    background-color: #ffffff;
}

.pagination .prev,
.pagination .next {
    text-indent: -9000px;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-image: url("../img/pagination-next.svg");    
}

.pagination .prev {
    transform: rotate(180deg);
}

.pagination .disabled {
    opacity: 0.2;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 29px;
}

.footer-social,
.company-about {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social {
    display: flex;
}

.footer-social .social-btn {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 0;    
    background-repeat: no-repeat;
    opacity: 0.8;
}

.footer-social .social-btn:hover,
.footer-social .social-btn:focus {
    opacity: 1;
}

.footer-social .twitter {
    background-image: url("../img/twitter.svg");
}

.footer-social .twitter:active {
    background-image: url("../img/twitter-active.svg");
    opacity: 1;
}

.footer-social .instagram {
    background-image: url("../img/instagram.svg");
}

.footer-social .instagram:active {
    background-image: url("../img/instagram-active.svg");
    opacity: 1;
}

.footer-social .facebook {
    background-image: url("../img/facebook.svg");
}

.footer-social .facebook:active {
    background-image: url("../img/facebook-active.svg");
    opacity: 1;
}

.footer-social .vkontakte {
    background-image: url("../img/vkontakte.svg");
}

.footer-social .vkontakte:active {
    background-image: url("../img/vkontakte-active.svg");
    opacity: 1;
}

.company-about {
    display: flex;
}

.company-about a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.company-about .supply {
    font-weight: bold;
}

.company-about::before {
    content: "";
    display: block;
    width: 15px;
    height: 13px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}

.copyright {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.copyright-desc {
    color: #ffffff;
}

.modal {
    width: 429px;
    margin: 0 auto;
    padding: 20px 24px 27px;
    color: #323232;
    background-color: #f8f7f4;
}

.modal h2 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.modal-form-group input[type="text"],
.modal-form-group input[type="email"],
.modal-form-group textarea {
    font-size: 16px;
    line-height: 24px;
}

.modal-close {
    display: block;
    width: 18px;
    height: 17px;
    font-size: 0;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    border: 0;
}

.link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.link:hover {
    border-color: #f9ac9f;
    color: #ffbc9e;
}

.link:active {
    border-color: #f9ac9f;
    color: #ffbc9e;
}